h1 {
    font-family: roboto;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.card-group {
    margin-top: 100px;
}

.card {
    max-width: 33%;
}

.card img{
    overflow: hidden;
}